<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="idHospital" value="0"/>
    <!--0: es sips- >0 es hospital-->
  </appSettings>
  
  
  <connectionStrings>
  
 
	
    <add name="SSOMembershipProviderConnectionString" connectionString="Data Source=10.1.232.230;Initial Catalog=SSO;User Id=sa; Password=ssecure;" providerName="System.Data.SqlClient"/>
    <add name="SMSServiceConnectionString" connectionString="Data Source=10.1.232.230;Initial Catalog=SSOSSO;User ID=sa;Password=ssecure" providerName="System.Data.SqlClient" /> 
	
	<!-- <add name="SSOMembershipProviderConnectionString" connectionString="Data Source=10.1.62.22;Initial Catalog=SSO;Integrated Security=true;"  providerName="System.Data.SqlClient"/>
    <add name="SMSServiceConnectionString" connectionString="Data Source=10.1.62.22;Initial Catalog=SSO;Integrated Security=true;" providerName="System.Data.SqlClient" /> -->
  </connectionStrings> 
    
  
  <system.web>
    <!--requestValidationMode ES TEMPORAL HASTA SOLUCIONAR EL BUG DE LOS BOTONES EN IE7-->
    <httpRuntime requestValidationMode="2.0" />
    <customErrors mode="Off" />
    <machineKey validationKey="21F090935F6E49C2C797F69BBAAD8402ABD2EE0B667A8B44EA7DD4374267A75D7AD972A119482D15A4127461DB1DC347AAA63AE5F1CCFAACFF1B72A7F0A281" decryptionKey="ABAA84D7EC4BB56DABC217CECFFB9628809BDB8BF91CFCD64568A145BE59719F" validation="SHA1" decryption="AES" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <sessionState cookieless="false" mode="Custom" useHostingIdentity="false" customProvider="SSOSessionProvider">
      <providers>
        <add name="SSOSessionProvider" type="Salud.Security.SSO.SSOSessionStateStore" />
      </providers>
    </sessionState>
    <membership defaultProvider="SSOMembershipProvider">
      <providers>
        <add name="SSOMembershipProvider" type="Salud.Security.SSO.SSOMembershipProvider" connectionStringName="SSOMembershipProviderConnectionString" alwaysAuthenticate="false" allowAnonymousAccessToImages="true" allowAnonymousAccessToScripts="true" updateTimeoutOnWebMethod="false" useCache="false"/>
      </providers>
    </membership>
    <!--validateRequest="false" ES TEMPORAL HASTA SOLUCIONAR EL BUG DE LOS BOTONES EN IE7-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
        <add tagPrefix="salud" namespace="Salud.Applications.Shared.UI" assembly="Salud.Applications.Shared" />
        <add tagPrefix="plex" namespace="Salud.Applications.Shared.UI.Plex" assembly="Salud.Applications.Shared"/>
      </controls>
    </pages>
    <webServices>
      <protocols>
        <!--Elimina la documentación WSDL de los WebServices-->
        <remove name="Documentation" />
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <httpModules />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="SSOHttpModule" type="Salud.Security.SSO.SSOHttpModule, Salud.Security.SSO.Core" preCondition="managedHandler" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>
